{{ comment_char }} Template generated via jinja2
{{ comment_char }} Timestamp: {{ timestamp }}
{{ comment_char }} Device IP: {{ ip_address }}

{#
{% for block in config_blocks %}
{% set child_template = vendor_os ~ "_" ~ block ~ ".j2" %}
{{ comment_char }}
{% include child_template ignore missing %}
{% endfor %}
#}
{% include "templates/extreme_exos_snmp.j2" ignore missing %}