{% macro interface_configuration(interface) -%}
    {% if interface.description %}
    description {{ interface.description }}
    {% endif %}
    switchport mode {{ interface.mode }}
    {% if interface.mode == "access" %}
    switchport access vlan {{ interface.data_vlan }}
    {% if "voice_vlan" in interface %}
    switchport voice vlan {{ interface.voice_vlan }}
    {% endif %}
    spanning-tree bpduguard enable
    {% else %}
    {% if interface.native_vlan %}
    switchport trunk native vlan {{ interface.native_vlan }}
    {% endif %}
    {% if interface.data_vlan is iterable and (interface.data_vlan is not string and interface.data_vlan is not mapping) %}
    switchport trunk allowed vlan {{ interface.data_vlan | join(',') }}
    {% else %}
    switchport trunk allowed vlan {{ interface.data_vlan }}
    {% endif %}
    {% endif %}
    {{ interface.status | default("no shutdown", true) }}
{%- endmacro -%}

{%- macro is_interface_range(id) -%}
{% if "-" in id or "," in id %}
interface range {{ id }}
{% else %}
interface {{ id }}
{% endif %}
{%- endmacro -%}

{% for interface in interfaces %}
{{ is_interface_range(interface.id) }}
{{- interface_configuration(interface) }}
{% endfor %}
