!
username {{ username.name }} privilege 15 algorithm-type scrypt secret {{ username.password }}
enable algorithm-type scrypt secret {{ device.enable_secret }}
!
!
ip domain-name {{ device.domain_name }}
no ip domain lookup
no ip http server
{% if "http" in device.authentication_methods %}
    ip http secure server
    ip http authentication aaa
{% endif %}
!
crypto key generate rsa general-keys modulus 2048
!
{% include "cisco_ios_interfaces.j2" %}
!
{% include "cisco_ios_ip_addresses.j2" %}
!
{% include "cisco_ios_routes.j2" %}
!
!
line con 0
    logging synchronous
    login authentication default
line vty 0 4
    logging synchronous
    login authentication default
    transport input ssh
line vty 5 15
    logging synchronous
    login authentication default
    transport input ssh
!
