{#- Configure TACACS+ server -#}

{% if tacacs.primary_server is defined %}
    enable tacacs
    enable tacacs-authorization
    enable tacacs-accounting
    configure tacacs primary server {{ tacacs.primary_server.addr }} {{ tacacs.primary_server.port }} client-ip {{ tacacs.mgmt_ip_addr }} vr {{ tacacs.primary_server.vrf | default("VR-Default", true) }}
    configure tacacs primary shared-secret {{ tacacs.primary_server.shared_secret }}
    configure tacacs-accounting primary server {{ tacacs.primary_server.addr }} {{ tacacs.primary_server.port }} client-ip {{ tacacs.mgmt_ip_addr }} vr {{ tacacs.primary_server.vrf | default("VR-Default", true) }}
    configure tacacs-accounting primary shared-secret {{ tacacs.primary_server.shared_secret }}
    configure tacacs fallback disallow
    configure tacacs priv-lvl required
{% else %}
    disable tacacs
    disable tacacs-authorization
    disable tacacs-accounting
{% endif %}

