{#- LLDP (Link Layer Discovery Protocol) configuration -#}

configure lldp management-address vlan {{ lldp.mgmt_vlan }} primary-ip
configure lldp ports all advertise all-tlvs
{% if lldp.enabled_ports is defined %}
    enable lldp ports {{ lldp.enabled_ports | join(',') }}
{% endif %}
{% if lldp.disabled_ports is defined %}
    disable lldp ports {{ lldp.disabled_ports | join(',') }}
{% endif %}