{#- dot1x port based authentication -#}

create vlan {{ dot1x.vlan.name }}
configure netlogin vlan {{ dot1x.vlan.name }}

{% if dot1x.dot1x_based is defined and dot1x.dot1x_based is not none %}
    enable netlogin dot1x
    {% if dot1x.dot1x_based.enabled_ports is defined and dot1x.dot1x_based.enabled_ports is not none %}
        enable netlogin ports {{ dot1x.dot1x_based.enabled_ports | join(',') }} dot1x
        configure netlogin ports {{ dot1x.dot1x_based.enabled_ports | join(',') }} mode port-based-vlans
        configure netlogin ports {{ dot1x.dot1x_based.enabled_ports | join(',') }} no-restart
        enable netlogin authentication failure vlan ports {{ dot1x.dot1x_based.enabled_ports | join(',') }}
        configure netlogin authentication failure vlan Default ports {{ dot1x.dot1x_based.enabled_ports | join(',') }}
        enable netlogin authentication service-unavailable vlan ports {{ dot1x.dot1x_based.enabled_ports | join(',') }}
        configure netlogin authentication service-unavailable add vlan Default ports {{ dot1x.dot1x_based.enabled_ports | join(',') }} untagged
    {% endif %}
{% endif %}