{#- Configure SNMPv3 with traps -#}

{% if snmp.snmpv3 is defined %}
    enable snmp access snmpv3
    {% for user in snmp.snmpv3.users %}
        configure snmpv3 add user "{{ user.username }}" authentication md5 {{ user.password }} privacy des {{ user.privacy_password }}
        configure snmpv3 add group "{{ snmp.snmpv3.server_name }}_Group" user "{{ user.username }}" sec-model usm
    {% endfor %}
    configure snmpv3 add access "{{ snmp.snmpv3.server_name }}_Group" sec-model usm sec-level priv notify-view defaultAdminView read-view defaultAdminView write-view defaultAdminView
    {% if snmp.snmpv3.traps is defined %}
        configure snmpv3 add target-addr "{{ snmp.snmpv3.server_name }}_Address" param "{{ snmp.snmpv3.server_name }}_Parameters" ipaddress {{ snmp.snmpv3.server_addr }} vr {{ snmp.snmpv3.vrf | default("VR-Default", true) }} tag-list "{{ snmp.snmpv3.server_name }}_Tag" 
        configure snmpv3 add target-params "{{ snmp.snmpv3.server_name }}_Parameters" user {{ snmp.snmpv3.traps.user }} mp-model snmpv3 sec-model usm sec-level priv
        configure snmpv3 add notify "{{ snmp.snmpv3.server_name }}_Notification" tag "{{ snmp.snmpv3.server_name }}_Tag" type inform
        configure snmpv3 add filter-profile "{{ snmp.snmpv3.server_name }}_Filter" param "{{ snmp.snmpv3.server_name }}_Parameters"
        configure snmpv3 add filter "{{ snmp.snmpv3.server_name }}_Filter" subtree 1.0/00 type included
        {% for oid in snmp.oid_excluded %}
            configure snmpv3 add filter "{{ snmp.snmpv3.server_name }}_Filter" subtree {{ oid }} type excluded
        {% endfor %}
    {% endif %}
{% else %}
    disable snmp access snmpv3
{% endif %}

{#- Configure SNMPv2c -#}
{% if snmp.snmpv2c is defined %}
    enable snmp access snmp-v1v2c
    configure snmpv3 add group "{{ snmp.snmpv2c.server_name }}_Group" user "{{ snmp.snmpv2c.server_name }}_User" sec-model snmpv2c
    configure snmpv3 add access "{{ snmp.snmpv2c.server_name }}_Group" sec-model snmpv2c sec-level noauth read-view "defaultAdminView" notify-view "defaultAdminView"
    configure snmpv3 add community "{{ snmp.snmpv2c.community }}" name {{ snmp.snmpv2c.community }}" user "{{ snmp.snmpv2c.server_name }}_User"
{% else %}
    disable snmp access snmp-v1v2c
{% endif %}

configure snmpv3 delete group "v1v2c_ro" user "v1v2c_ro" sec-model snmpv1
configure snmpv3 delete group "v1v2c_rw" user "v1v2c_rw" sec-model snmpv1
configure snmpv3 delete group "v1v2c_ro" user "v1v2c_ro" sec-model snmpv2c
configure snmpv3 delete group "v1v2c_rw" user "v1v2c_rw" sec-model snmpv2c
configure snmpv3 delete access "admin" sec-model usm sec-level priv
configure snmpv3 delete access "initial" sec-model usm sec-level noauth
configure snmpv3 delete access "initial" sec-model usm sec-level authnopriv
configure snmpv3 delete access "v1v2c_ro" sec-model snmpv1 sec-level noauth
configure snmpv3 delete access "v1v2c_ro" sec-model snmpv2c sec-level noauth
configure snmpv3 delete access "v1v2c_rw" sec-model snmpv1 sec-level noauth
configure snmpv3 delete access "v1v2c_rw" sec-model snmpv2c sec-level noauth
configure snmpv3 delete access "v1v2cNotifyGroup" sec-model snmpv1 sec-level noauth
configure snmpv3 delete access "v1v2cNotifyGroup" sec-model snmpv2c sec-level noauth
configure snmpv3 delete notify "defaultNotify"
disable snmp access vr "VR-Mgmt"