{#- VLAN creation -#}

{% for vlan in vlan %}
    create vlan "{{ vlan.name }}" tag {{ vlan.id }}
    enable stpd {{ vlan.spanning_tree_domain }} auto-bind vlan {{ vlan.name }}
    {% if vlan.tagged_ports is defined and vlan.tagged_ports is not none %}
        configure vlan {{ vlan.id }} add ports {{ vlan.tagged_ports | join(',') }} tagged
    {% endif %}
    {% if vlan.untagged_ports is defined and vlan.untagged_ports is not none %}
        configure vlan {{ vlan.id }} add ports {{ vlan.untagged_ports | join(',') }} untagged
    {% endif %}
{% endfor %}