{#-
Port related configurations:
    - Status: admin disabled or enabled
    - Speed_Duplex:
        - Speed: 10 Mbps, 100 Mbps, 1000 Mbps, 1 Gbps
        - Duplex: Full or Half
-#}

{# Port admin status: list of disabled and enabled ports #}
{% if port.status is defined %}
    {% if port.status.disabled_ports is defined and port.status.disabled_ports is not none %}
        disable port {{ port.status.disabled_ports | join(',') }}
    {% endif %}
    {% if port.status.enabled_ports is defined and port.status.enabled_ports is not none %}
        enable port {{ port.status.enabled_ports | join(',') }}
    {% endif %}
{% endif %}

{# Port speed and duplex: list of ports by speed and duplex combinations #}
{% if port.speed_duplex is defined %}
    {% if port.speed_duplex.auto is defined and port.speed_duplex.auto is not none %}
        configure ports {{ port.speed_duplex.auto | join(',') }} auto on
    {% endif %}
    {% if port.speed_duplex.ten_full is defined and port.speed_duplex.ten_full is not none %}
        configure ports {{ port.speed_duplex.ten_full | join(',') }}auto off speed 10 duplex full
    {% endif %}
    {% if port.speed_duplex.ten_half is defined and port.speed_duplex.ten_half is not none %}
        configure ports {{ port.speed_duplex.ten_half | join(',') }}auto off speed 10 duplex half
    {% endif %}
    {% if port.speed_duplex.hundred_full is defined and port.speed_duplex.hundred_full is not none %}
        configure ports {{ port.speed_duplex.hundred_full | join(',') }}auto off speed 100 duplex full
    {% endif %}
    {% if port.speed_duplex.hundred_half is defined and port.speed_duplex.hundred_half is not none %}
        configure ports {{ port.speed_duplex.hundred_half | join(',') }} auto off speed 100 duplex half
    {% endif %}
    {% if port.speed_duplex.giga_full is defined and port.speed_duplex.giga_full is not none %}
        configure ports {{ port.speed_duplex.giga_full | join(',') }} off speed 1000 duplex full
    {% endif %}
    {% if port.speed_duplex.giga_half is defined and port.speed_duplex.giga_half is not none %}
        configure ports {{ port.speed_duplex.giga_half | join(',') }} off speed 1000 duplex half
    {% endif %}
{% endif %}

{# Port inline-power status: list of inline-power enabled and disabled ports #}
{% if port.inline_power is defined %}
    {% if port.inline_power.disabled_ports is defined and port.inline_power.disabled_ports is not none %}
        disable inline-power ports {{ port.inline_power.disabled_ports | join(',') }}
        configure cdp power-available no-advertise ports {{ port.inline_power.disabled_ports | join(',') }}
    {% endif %} 
    {% if port.inline_power.enabled_ports is defined and port.inline_power.enabled_ports is not none %}
        enable inline-power ports {{ port.inline_power.enabled_ports | join(',') }}
        configure cdp power-available advertise ports {{ port.inline_power.enabled_ports | join(',') }}
    {% endif %} 
{% endif %}

{# Port mac-locking limit: list of ports with mac locking limitation #}
{% if port.mac_lock is defined %}
    enable mac-locking
    {% for port_limit in port.mac_lock %}
        enable mac-locking ports {{ port_limit.ports | join(',') }}
        configure mac-locking ports {{ port_limit.ports | join(',') }} first-arrival limit-learning {{ port_limit.limit }}
        configure mac-locking ports {{ port_limit.ports | join(',') }} first-arrival aging enable
        configure mac-locking ports {{ port_limit.ports | join(',') }} first-arrival link-down-action clear-macs
        configure mac-locking ports {{ port_limit.ports | join(',') }} trap violation on
        configure mac-locking ports {{ port_limit.ports | join(',') }} log violation on
    {% endfor %}
{% endif %}

{# Port rate limit: list of ports with rate limit #}
{% if port.rate_limit is defined %}
    {% for port_limit in port.rate_limit %}
        configure port {{ port_limit.ports | join(',') }} rate-limit flood broadcast {{ port_limit.limit }} out-actions log trap
        configure port {{ port_limit.ports | join(',') }} rate-limit flood multicast {{ port_limit.limit }} out-actions log trap
        configure port {{ port_limit.ports | join(',') }} rate-limit flood unknown-destmac {{ port_limit.limit }} out-actions log trap
    {% endfor %}
{% endif %}

{# Port link flap detetion enabled #}
{% if port.link_flap is defined %}
    {% if port.link_flap.disabled_ports is defined and port.link_flap.disabled_ports is not none %}
        configure port {{ port.link_flap.disabled_ports | join(',') }} link-flap-detection off
    {% endif %}
    {% if port.link_flap.enabled_ports is defined and port.link_flap.enabled_ports is not none %}
        configure port {{ port.link_flap.enabled_ports | join(',') }} link-flap-detection on
        configure port {{ port.link_flap.enabled_ports | join(',') }} link-flap-detection interval {{ port.link_flap.interval }}
        configure port {{ port.link_flap.enabled_ports | join(',') }} link-flap-detection action add log trap
    {% endif %} 
{% endif %}

{# Port link flap detetion enabled #}
{% if port.port_flap is defined %}
    {% if port.port_flap.disabled_ports is defined and port.port_flap.disabled_ports is not none %}
        disable snmp traps port-up-down ports {{ port.port_flap.disabled_ports | join(',') }}
    {% endif %}
    {% if port.port_flap.enabled_ports is defined and port.port_flap.enabled_ports is not none %}
        enable snmp traps port-up-down ports {{ port.port_flap.enabled_ports | join(',') }}
    {% endif %}
{% endif %}