{#- Configure RADIUS server -#}

{% if radius.netlogin is defined %}
    {% if radius.netlogin.primary_server is defined %}
        enable radius netlogin
        enable radius-accounting netlogin
        configure radius netlogin primary server {{radius.netlogin.primary_server.addr}} {{radius.netlogin.primary_server.port}} client-ip {{device_management.ip.addr}} vr {{radius.netlogin.primary_server.vrf | default("VR-Default", true)}}
        configure radius netlogin primary shared-secret {{radius.netlogin.primary_server.shared_secret}}
        configure radius netlogin primary retries 2
        configure radius netlogin primary timeout 10
        configure radius-accounting netlogin primary server {{radius.netlogin.primary_server.addr}} {{radius.netlogin.primary_server.accounting_port}} client-ip {{device_management.ip.addr}} vr {{radius.netlogin.primary_server.vrf | default("VR-Default", true)}}
        configure radius-accounting netlogin primary shared-secret {{radius.netlogin.primary_server.shared_secret}}
        configure radius-accounting netlogin primary retries 2
        configure radius-accounting netlogin primary timeout 10
    {% endif %}
    {% if radius.netlogin.secondary_server is defined %}
        configure radius netlogin secondary server {{radius.netlogin.secondary_server.addr}} {{radius.netlogin.secondary_server.port}} client-ip {{device_management.ip.addr}} vr {{radius.netlogin.secondary_server.vrf | default("VR-Default", true)}}
        configure radius netlogin secondary shared-secret {{radius.netlogin.secondary_server.shared_secret}}
        configure radius netlogin secondary retries 2
        configure radius netlogin secondary timeout 10
        configure radius-accounting netlogin secondary server {{radius.netlogin.secondary_server.addr}} {{radius.netlogin.secondary_server.accounting_port}} client-ip {{device_management.ip.addr}} vr {{radius.netlogin.secondary_server.vrf | default("VR-Default", true)}}
        configure radius-accounting netlogin secondary shared-secret {{radius.netlogin.secondary_server.shared_secret}}
        configure radius-accounting netlogin secondary retries 2
        configure radius-accounting netlogin secondary timeout 10
    {% endif %}
{% endif %}