{#- Device management configuration -#}

{# Device IP configuration #}
{% if device_management.ip is defined %}
    configure vlan {{ device_management.ip.vlan }} ipaddress {{ device_management.ip.addr }} {{ device_management.ip.mask }}
    configure iproute add default {{ device_management.ip.gw }}
{% endif %}

{# Local access #}
{% if device_management.local_access is defined -%}
    configure account all password-policy char-validation all-char-groups
    configure account all password-policy min-length 15
    configure account all password-policy history 10
    configure account all password-policy lockout-on-login-failures on
    configure cli max-failed-logins {{ device_management.local_access.accounts_lockout.attempts }}
    configure account all password-policy lockout-time-period {{ device_management.local_access.accounts_lockout.timer }}
    create account {{ device_management.local_access.privilege }} {{ device_management.local_access.username }} {{ device_management.local_access.password }} 
    disable account admin
    disable account user
{% endif %}

{# SSH access #}
{% if device_management.remote_access.ssh is defined %}
    {% if device_management.remote_access.ssh.status == "enable" %}
        enable ssh2
        configure ssh2 rekey time-interval 30
        configure cli idle-timeout 10
    {% else %}
        disable ssh2
    {% endif %}
{% endif %}

{# Telnet access #}
{% if device_management.remote_access.telnet is defined %}
    {% if device_management.remote_access.telnet.status == "enable" %}
        enable telnet
    {% else %}
        disable telnet
    {% endif %}
{% endif %}

{# Web access #}
{% if device_management.remote_access.web is defined %}
    {% if device_management.remote_access.web.status == "enable" %}
        disable web http
        configure ssl certificate privkeylen 2048 country PT organization ANA common-name ana.pt
        enable web https
    {% else %}
        disable web http
        disable web https
    {% endif %}
{% endif %}